{
  "presets": [["@babel/preset-env", {"targets": {"node": "current"}}], "@babel/preset-typescript"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {"@": "./src"},
        "extensions": [".js", ".ts"]
      }
    ]
  ],
  "ignore": ["./build", "./node_modules"],
  "comments": false,
  "env": {
    "build": {"sourceMaps": true}
  }
}
